{{ $item := .item }}
{{ $date_value := $item.Params.event_start | default $item.Date }}
{{ $date_fmt := (time $date_value).Format "Jan 2006" }}
{{ $pub := partial "functions/resolve_publication.html" $item }}

{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ with $item.Params.external_url }}
  {{ $link = . }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<div class="pub-list-item view-citation" style="margin-bottom: 0.75rem">
  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" $item }}
  </span>
  ({{- $date_fmt -}}).
  <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="underline">{{ $item.Title }}</a>{{ if $item.Params.external_url }}{{ partial "functions/get_icon" (dict "name" "arrow-top-right-on-square" "attributes" "style=\"height:0.8em;\" class=\"inline-flex ml-0.5 align-text-top opacity-50\"") }}{{ end }}{{ with $pub.display_short }}. {{ . | markdownify }}{{ end }}

  {{ if $item.Params.featured }}{{ with $item.Params.summary }}
  <p class="text-xs text-zinc-500 dark:text-zinc-400 mt-1 leading-relaxed">{{ . }}</p>
  {{ end }}{{ end }}

</div>
